//- layout.pug
html
  head
    title My Site - #{title}
    block scripts
      script(src='/jquery.js')
  body
     nav.navbar.navbar-expand-lg
                a.navbar-brand(href="#!") CLOTH STORE 
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon

                div.collapse.navbar-collapse#navbarSupportedContent
                    ul.navbar-nav.ml-auto.topnav
                        li.nav-item.active
                            a.nav-link(href="/") SHOP 
                                span.sr-only
                        li.nav-item
                            a.nav-link(href="#") JEANS
                        li.nav-item
                            a.nav-link(href="#") T-SHIRTS
                        li.nav-item
                            a.nav-link(href="#") CASUAL SHIRTS
                        li.nav-item
                            a.nav-link(href="#") HODDIES
                        li.nav-item
                            a.nav-link(href="/admin/add-product") ADD PRODUCT
                              
                nav-item
                    a.topnav-right.btn.btn-primary.text-white(type="button" href="#") Sign In                  
                nav-item
                    a.topnav-right.btn.btn-danger.text-white(type="button" href="#") Register    
    block content
    